<h2 class="mt-4">
    <img src="/default.jpg" alt="profile picture" width="20%">
</h2>

<form action="/photo/upload" method="post" enctype="multipart/form-data">
    <input class="text-primary" type="file" name="image">
    <br>
    <input class="mt-2 btn-secondary" type="submit" value="Submit">
</form>